body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .background-template {
    background-image: url("/img/login.png"); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff; /* Cor do texto */
  }
  
  .back-arrow {
    font-size: 24px;
    text-decoration: none;
    color: #fff; /* Cor da seta */
    margin-bottom: 20px;
  }
  
  
  h2 {
    margin-bottom: 10px;
    color: #383838;
    font-size: 22px;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
    color: #797979;
    font-size: 16px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #1414CB;
    color: #fff;
  }
  
  
  